include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include configs *.yaml
recursive-include ascam *.py
exclude *.ipynb
exclude Running_Code/*
exclude Classification_Model/*
exclude Object_Detection_Model/*
